.bs-footer{
    .lyt-section{
        .container{
            .row{
                .left-col{
                    .footer-logo{
                        width: 140px;
                        margin-bottom: 15px;
                    }
                }
            }
        }
        .social-strip{
            display: flex;
            align-items: center;
            .link{
                margin-right: 25px;
                color: $clr-black;
                .icon{
                    font-size: 16px;
                }
                &:hover{
                    color: $clr-lovender-dark;
                    opacity: 1;
                }
                &:focus{
                    color: $clr-black;
                }
                &:focus-visible{
                    color: $clr-black;
                }
            }
        }
    }
}
@media only screen and (max-width: $mobile-breakpoint) {
    .bs-footer {
        .lyt-section {
            .container {
                .row {
                    .left-col{
                        // margin-bottom: 25px;
                        margin-bottom: calc(80px*var(--scale));
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}