.bs-fnf{

    .notfound-404{ 
        // z-index: -1;
        h1{
            color: #bdbdbd;
        font-weight: 600;
        font-size: 276px;
        margin: 0px;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        // font-family: $fnt1-bold;
        z-index: -1;
        }   
    }
    h2{
        font-size: 45px;
        color: $clr-lovender-dark;    
        text-transform: uppercase;
        margin: 0px;
        // font-family: $fnt1-bold;
    }
       
    }
    
    @media only screen and (max-width: $mobile-breakpoint){
        .bs-fnf{
            .notfound-404{ 
                // z-index: -1;
                h1{
                font-size: 135px;
                }   
            }
            h2{
                font-size: 35px;
            }
        }
        
    }