<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5BSMWB3" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header class="bs-header">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="index.php">
                <img class="logo-dark" src="assets/images/logo-white.svg" alt="logo">
                <img class="logo-light" src="assets/images/logo.svg" alt="logo">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <div class="right-nav">
                    <a href="contact-us.php#contact-form" class="bs-btn typ-white only-desk">
                        Get in touch
                    </a>
                    <a class="menu-btn">
                        <span class="icon icon-sandwich"></span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div class="bs-menu">
        <div class="container">
            <a class="typ-overflow" href="index.php">
                <img class="logo-dark" src="assets/images/logo-white.svg" alt="logo">
            </a>
            <a class="btn-close icon icon-close"></a>
            <a href="contact-us.php#contact-form" class="bs-btn typ-white">
                Get in touch
            </a>
            <ul class="list">
                <li class="item" data-target="index">
                    <a href="about-us.php" class="animsition-link">About</a>
                </li>
                <li class="item" data-target="case-study">
                    <a href="our-work.php" class="animsition-link">Our Work</a>
                </li>
                <li class="item" data-target="case-study">
                    <a href="process.php" class="animsition-link">Process</a>
                </li>
                <li class="item" data-target="case-study">
                    <a href="career.php" class="animsition-link">Join Us</a>
                </li>
            </ul>
        </div>
    </div>
</header>