.mod-counter {
    // padding: 60px 120px;
    // display: flex;
    // justify-content: space-around;
    margin-bottom: 0;
    padding-bottom: calc(120px*var(--scale));

    .counter-div {
        // list-style-type: none;
        // text-align: center;

        .count.plus {
            &::after {
                content: '+';
                margin-left: 2px;
            }
        }

        .count.percentage-plus {
            &::after {
                content: '%';
                margin-left: 2px;
            }
        }

        .count {
            font-size: 100px;
            color: $clr-white;
            font-weight: $font-regular;
            margin: 0;
            padding: 0;
            line-height: 100%;
            border-bottom: 1px solid #404040;
            padding-bottom: 35px;
        }

        .counter-txt {
            .counter-hd {
                font-weight: $font-semibold;
                font-size: 20px;
                line-height: 160%;
                color: $clr-white;
                margin-top: 35px;
                margin-bottom: 15px;

            }
            .counter-para{
                font-weight: $font-regular;
font-size: 16px;
line-height: 160%;
color: #ABABAB;
margin: 0;
            }
        }
    }
}

@media only screen and (max-width: $desktop-breakpoint) {
    .mod-counter {
    
        .counter-div {
    
            .count {
                font-size: 60px;
                padding-bottom: 35px;
            }
    
            .counter-txt {
                .counter-hd {
                    font-weight: $font-semibold;
                    font-size: 20px;
                    line-height: 160%;
                    color: $clr-white;
                    margin-top: 35px;
                    margin-bottom: 15px;
    
                }
                .counter-para{
                    font-weight: $font-regular;
    font-size: 16px;
    line-height: 160%;
    color: #ABABAB;
    margin: 0;
                }
            }
        }
    }  
}

@media only screen and (max-width: $mobile-breakpoint) {
    .mod-counter {    
        .counter-div {
            text-align: center;
            &.mob-marB{
                margin-bottom: 50px;  
            }
                       
            .count {
                font-size: 60px;
                padding-bottom: 15px;
            }
    
            .counter-txt {
                .counter-hd {
                    font-weight: $font-semibold;
                    font-size: 20px;
                    line-height: 160%;
                    color: $clr-white;
                    margin-top: 15px;
                    margin-bottom: 15px;
    
                }
                .counter-para{
                    font-weight: $font-regular;
    font-size: 16px;
    line-height: 160%;
    color: #ABABAB;
    margin: 0;
                }
            }
        }
    }  
}