<!-- fav-icon -->
<!-- <link rel="shortcut icon" href="assets/images/fav.png" type="image/x-icon"> -->
<link rel="icon" type="image/png" sizes="192x192" href="assets/images/stealth_favicon_2022_512x512px-150x150.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/images/stealth_favicon_2022_512x512px-300x300.png">
<link rel="icon" type="image/png" sizes="96x96" href="assets/images/stealth_favicon_2022_512x512px-150x150.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/images/stealth_favicon_2022_512x512px-300x300.png">

<!-- fonts -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">

<!-- custom-css -->
<link rel="stylesheet" type="text/css" href="assets/css/custom.css?v=1237">

<meta name="description" content="Good design is invisible." />
<meta name="robots" content="max-image-preview:large" />
<meta name="keywords" content="Good design is invisible." />
<link rel="canonical" href="https://steath.design" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="Stealth Design" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Stealh Design" />
<meta property="og:description" content="Good design is invisible." />
<meta property="og:url" content="https://steath.design" />
<meta property="og:image" content="https://steath.design/assets/images/og-img.png" />
<meta property="og:image:secure_url" content="https://steath.design" />
<meta property="og:image:width" content="632" />
<meta property="og:image:height" content="569" />

<!-- Google Tag Manager -->
<!-- <script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-5BSMWB3');</script> -->
<!-- End Google Tag Manager -->

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5BSMWB3');</script>
    <!-- End Google Tag Manager -->


    <!-- <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> -->
    
